<br><br><br><h2>comments: <br><h3>by the people, for the people</h3></h2><br>
<h6>(type in the name of a restaurant or bar to view their comments)</h6>
<%= search_form_for @q do |f| %>
	<%= f.label :title_cont, "rest/bar name" %>
	<%= f.search_field :title_cont %>
	<%= f.submit %>
	<%= link_to "reset", "/comments" %>
<% end %>

<div id="comment_form">
<ul>
<%= form_for @comments do |f| %>

<br><br><br>
<li>
	<h3>
		<%= f.label :title %><br>
		<%= f.text_field :title, placeholder: "rest/bar name" %>
	</h3>
</li>
<li>
	<h3>
		<%= f.label :author %><br>
		<%= f.text_field :author, placeholder: "name/twitter handle" %>
	</h3>
</li>
<br><br><li>
	<h3>
		<%= f.label :body %><br>
		<%= f.text_area :body %>
	</h3>
</li>
<br><br><li>
	<h4>
		<%= f.submit "add comment" %>
	</h4>
</li>
<% end %>
</ul>
</div>

<div id="comments_container">
	<ul>
		<% @comments_all.each do |comment| %>
		<li id="comments_container_top"><h3>rest/bar name</h3></li>
		<li><%= comment.title %></li><br>
		<li><h3>author</h3></li>
		<li><%= comment.author %></li><br>
		<li><h3>comment</h3></li>
		<li><%= comment.body %></li><br>
		<li><h3>date</h3></li>
		<li><%= comment.created_at %></li><br><br>
		<% end %>
	</ul>
</div>




