<br><br><br>
<h1 id="the-comments-page-h1">the Comments</h1>

<%= search_form_for @q do |f| %>
	<%= f.search_field :title_cont, :placeholder => "establishment name" %>
	<%= f.submit "search" %>
	<br>
	<%= link_to "reset search", "/comments", :class => "reset-search" %>
<% end %>

<div id="comment_form">
	<ul>
	<%= form_for @comments do |f| %>

	<br><br><br>
	<li>
		<h3>
			<%= f.text_field :title, placeholder: "establishment name" %>
		</h3>
	</li>
	<li>
		<h3>
			<%= f.text_field :author, placeholder: "name/twitter handle" %>
		</h3>
	</li>
	<br><br><li>
		<h3>
			<%= f.text_area :body %>
		</h3>
	</li>
	<br><br><li>
		<h4>
			<%= f.submit "add comment" %>
		</h4><br>
	</li>
<% end %>
	</ul>
</div>

<br><div id="comments_container">
	<ul>
		<% @comments_all.each do |comment| %>
		<li class="comments-headings listed-comment" id="comments_bar_name">establishment:</li>
		<li class="listed-comment"><%= comment.title %></li><br>
		<li class="comments-headings listed-comment">author:</li>
		<li class="listed-comment"><%= comment.author %></li><br>
		<li class="comments-headings listed-comment">comment:</li>
		<li class="listed-comment"><%= comment.body %></li><br>
		<li class="comments-headings listed-comment">date:</li>
		<li class="listed-comment"><%= comment.created_at.strftime("%b %d, %Y") %></li><br>
		<% end %>
	</ul>
</div>




