<br><br><br>
<header>
	<h1 id="the-list-page-h1">the List</h1>
</header>
<%= search_form_for @q do |f| %>
	<%= f.search_field :name_cont, placeholder: "name"  %>
	<%= f.submit ">", :class => "rest-search" %>
	<br>
	<%= f.search_field :style_cont, placeholder: "style"  %>
	<%= f.submit ">", :class => "rest-search" %>
	<br>
	<%= link_to "reset search", "/restaurants", :class => "reset-search" %>
<% end %>

<br><br>
<div class="rest-list-container">
	<span id="rest_list">
		<% @restaurants.each do |rest| %>
		<ul>
			<li class="listed-restaurant rest-name"><%= rest.name %></li><br>
			<li class="listed-restaurant"><%= rest.address %></li><br>
			<li class="listed-restaurant"><%= rest.city %>, <%= rest.state %> (<%= rest.zipcode %>)</li><br>
			<li class="listed-restaurant"><a href="tel:"><%= rest.number %></a></li><br>
			<li class="listed-restaurant"><%= rest.style %> <small>(<%= link_to "website", rest.site, :target => "_blank" %>)</small></li><br>
			<li class="clear-fix listed-restaurant"></li>
		</ul>
		<% end %>
	</span>
</div>