<br><br><br>
<h1 id="the-list-page-h1">the Establishments</h1>
<%= search_form_for @q do |f| %>
	<%= f.search_field :name_cont, placeholder: "establishment name"  %>
	<%= f.submit "search" %>
	<br>
	<%= f.search_field :style_cont, placeholder: "food style"  %>
	<%= f.submit "search" %>
	<br>
	<%= link_to "reset search", "/restaurants", :class => "reset-search" %>
<% end %>

<br><br><div id="rest_list">
	<% @restaurants.each do |rest| %><br><br><br>
	<ul>
		<li><%= rest.name %></li><br>
		<li><%= rest.address %></li><br>
		<li><%= rest.city %>, <%= rest.state %></li><br>
		<li><%= rest.zipcode %></li><br>
		<li><%= rest.number %></li><br>
		<li><%= rest.style %></li><br>
		<li><%= link_to "website", rest.site, :target => "_blank" %></li>
	</ul>
	<% end %>
</div>