<h1 id="mainh1">Detroit Restaurants</h1>
<div id="rest_list">
	<% @restaurants.each do |rest| %><br><br><br>
		<strong><%= rest.name %></strong><br>
		<%= rest.address %><br>
		<%= rest.city %>, <%= rest.state %><br>
		<%= rest.zipcode %><br>
		<%= rest.number %><br>
		<%= rest.style %><br>
		<%= link_to "website", rest.site, :target => "_blank" %>
	<% end %>
</div>