<!DOCTYPE html>
<html>
<head>
  <title>Detroit Food &amp; Drink</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <meta name=“viewport” content=“width=device-width”>
</head>
<body>
<nav>
	<ul>
		<li><%= link_to "about", "/static_pages/about" %></li>
		<li><%= link_to "the list", "/restaurants" %></li>
		<li><%= link_to "home", "/" %></li>
	</ul>
</nav>

<%= yield %>

</body>
</html>
