<!DOCTYPE html>
<html>
<head>
  <title>DR&B Co.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="./main.css">
  <link href='http://fonts.googleapis.com/css?family=Nobile' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Nobile:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
  <meta name=“viewport” content=“width=device-width”>
</head>
<body>
<nav>
		<ul>
			<li><a href="">code</a></li>
			<li><a href="">about</a></li>
			<li><%= link_to "comments", "/comments" %></li>
			<li><%= link_to "the list", "/restaurants" %></li>
			<li><%= link_to "home", root_path %></li>
		</ul>
	</nav>
<header>
	<% if current_user %>
		<strong>@<%= current_user.twitter_handle %></strong>
		<%= link_to "| sign out", signout_path %>
		<% else %>
		<%= link_to "twitter login", "/auth/twitter?force_login=true" %>
	<% end %>
</header>
<%= yield %>

</body>
</html>
