<!DOCTYPE html>
<html>
<head>
  <title>DR&amp;B</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name=“viewport” content=“width=device-width”>
</head>
<body>
<nav>
	<ul>
		<li><%= link_to "about", "/static_pages/about" %></li>
		<li><%= link_to "comments", "/comments" %></li>
		<li><%= link_to "the list", "/restaurants" %></li>
		<li><%= link_to "home", "/" %></li>
	</ul>
<!-- 	<ul>
		<li id="login_link">
			<% if current_user %>
				<strong>@<%= current_user.twitter_handle %></strong>
				<%= link_to "sign out", signout_path %>
			<% else %>
				<%= link_to "login", "/auth/twitter?force_login=true" %>
			<% end %>
		</li>
	</ul> -->
</nav>

<%= yield %>

</body>
</html>
