<!DOCTYPE html>
<html>
<head>
  <title>Detroit Restaurants</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="./main.css">
  <meta name=“viewport” content=“width=device-width”>
</head>
<body>
<h1 id="mainh1">Detroit Restaurants</h1>
<nav>
		<ul>
			<li><a href="">Code</a></li>
			<li><a href="">Contact</a></li>
			<li><a href="">About</a></li>
			<li><%= link_to "Restaurants", "/restaurants" %></li>
			<li><a href="">Home</a></li>
		</ul>
	</nav>
<header>
	<% if current_user %>
		<strong>@<%= current_user.twitter_handle %></strong>
		<%= link_to "| sign out", signout_path %>
		<% else %>
		<%= link_to "Sign in with Twitter", "/auth/twitter?force_login=true" %>
	<% end %>
</header>
<%= yield %>

</body>
</html>
